.my_li {
  position: relative;
}

.my_li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: rgb(148, 148, 148);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.my_li:hover::before,
.my_li:active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: rgb(148, 148, 148);
}
